.pageHeaderBg {
  background-position: center bottom;
}

@media (max-width: 767px) {
  .pageHeaderBg {
    background-position: center bottom;
  }
}

@media (max-width: 575px) {
  .pageHeaderBg {
    background-position: 60% bottom;
  }
}
