.bgInner {
  background-position: 78% 12%;
  transform: none;
}

@media (max-width: 991px) {
  .bgInner {
    background-position: 82% 8%;
  }
}

@media (max-width: 767px) {
  .bgInner {
    background-position: 88% 5%;
  }

  .container {
    padding-top: calc(clamp(40px, 6vw, 56px) + 25px);
    padding-bottom: calc(clamp(24px, 4vw, 40px) + 25px);
  }
}

@media (max-width: 575px) {
  .bgInner {
    background-position: 90% top;
  }

  .container {
    padding-top: 61px;
    padding-bottom: 45px;
  }
}
