.bgInner {
  background-position: 72% center;
}

@media (max-width: 991px) {
  .bgInner {
    background-position: 80% center;
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: calc(clamp(40px, 6vw, 56px) + 25px);
    padding-bottom: calc(clamp(24px, 4vw, 40px) + 25px);
  }
}

@media (max-width: 575px) {
  .bgInner {
    background-position: center center;
  }

  .container {
    padding-top: 61px;
    padding-bottom: 45px;
  }
}
