.section {
  padding-top: clamp(40px, 5vw, 60px);
}

.itemOpen .answer {
  max-height: 560px;
}

@media (max-width: 991px) {
  .itemOpen .answer {
    max-height: 960px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: clamp(24px, 6.2vw, 32px);
  }

  .itemOpen .answer {
    max-height: 1200px;
  }
}
