.btnTextMobile {
  display: none;
}

@media(max-width: 767px) {
  .btnTextDesktop {
    display: none;
  }

  .btnTextMobile {
    display: inline;
  }

  .ctaBtn:global(.thmBtn) {
  width: 100%;
  white-space: nowrap;
  justify-content: center;
}


  
}
