.bgInner {
  background-position: 72% center;
}

@media (max-width: 991px) {
  .bgInner {
    background-position: 80% center;
  }
}

@media (max-width: 575px) {
  .bgInner {
    background-position: center center;
  }
}
